body{
	background-image: url(../img/fondo2.jpg);
 	background-size: 100vw 100vh;
 	background-attachment: fixed;
	font-size: 16px;
	margin: 0;
	text-shadow: 1px 1px 0 rgba(0,0,0,.3)
}

table{
	background-color: white;
	text-align: left;
	border-collapse: collapse;
	width: 100%;
}

th, td{
	padding: 8px;
}

tr:nth-child(even){
	background-color: #ddd;
}

tr:hover td{
	background-color: green;
	color: white;
}

h1{
	color: white;
	text-align: center;
	color: white; text-shadow: 2px 2px red ;
	font-size: 290%;
}
fieldset {
		margin: 5% auto;
    text-align: center;
    padding: 12px;
    background: #EEE;
    width: 300px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    background-image: url(../img/fondo2.jpg);
 	background-size: 100vw 100vh;
 	background-attachment: fixed;
 	border: none;

}
legend span {
	display:block;
	font:Bold 2pt "Arial Narrow","Arial",Helvetica,sans-serif;
	padding:2px 5px;
	font-size: 30px;
}
label, span{
	font:Bold 2pt "Arial Narrow","Arial",Helvetica,sans-serif;
	font-size: 20px;
	margin: 2% auto;
	width: 500px;
    text-align: center;
    -webkit-border-radius: 100px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}
